body {
    background: rgb(230 229 231);
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.show-two-hundred-page,.show-three-hundred-page,.show-four-hundred-page{display:none;}
.button-choix {
    width: 300px;
    background: #682773;
    border: 1px solid #682773;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
.button-choix:hover,.button-choix:active {
    background-color: initial;
    background-position: 0 0;
    color: #682773;
}
.button-choix:active {
    opacity: .5;
}






.card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: grid;
    font-family: "Trebuchet MS", sans-serif;
    height: 200px;
    margin: 20px auto;
    width: 350px;
}

.back {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.back .yellow {
    background-color: #f1ef1c;
    grid-column: 1 / span 9;
    grid-row: 1 / span 3;
}
.back .top.dots {
    background: radial-gradient(#4cc9c8 20%, transparent 19%), radial-gradient(#4cc9c8 20%, transparent 19%), transparent;
    background-size: 6px 6px;
    background-position: 0 0, 3px 3px;
    grid-column: 8 / span 6;
    grid-row: 2 / span 3;
}
.back .personal-info {
    grid-column: 2 / span 6;
    grid-row: 5 / span 6;
    line-height: 0.8;
}
.back .personal-info p {
    font-size: 10px;
}
.back .personal-info p:first-of-type {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.back .personal-info p:nth-of-type(2) {
    font-size: 12px;
    margin-bottom: 15px;
}
.back .bottom.dots {
    background: radial-gradient(#4cc9c8 20%, transparent 19%), radial-gradient(#4cc9c8 20%, transparent 19%), transparent;
    background-size: 6px 6px;
    background-position: 0 0, 3px 3px;
    grid-column: 1 / span 8;
    grid-row: 11 / span 2;
    z-index: 2;
}
.back .pink {
    background-color: #ff005e;
    grid-column: 8 / span 5;
    grid-row: 10 / span 3;
    text-align: center;
    padding-top: 10;
    line-height:2;
}
.back .pink a{
    text-align: center;
    color: white;
    line-height:0;
    padding-top: 10px;
}
.back .pink a:hover {
    text-align: center;
    color: yellow;
    line-height:0;
    padding-top: 10px;
}
.hide-text {
    color: red;
}